<div class="flex w-screen h-4">
  <div class="flex w-6 p-4 align-items-center h-7rem">
    <img src="./assets/logo.png" alt="logo" class="bg-contain h-full">
    <p>Macro's</p>
  </div>
  <nav class="flex w-6 align-items-center ml-8 p-4">
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/calcul" routerLinkActive="active-link">Calcul</a>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a routerLink="/help" routerLinkActive="active-link">Help</a>
  </nav>
</div>
