a {
  text-decoration: none;
  color: inherit;
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  align-items: center;
}

.active-link {
  text-decoration: underline;
  color: green;
  font-size: larger;
}
